<!-- templates/index.html -->

{% extends "base.html" %}
{% block content %}
<h1 style="padding-left: 20px;">Classification Mode</h1>

<!-- Image Grid -->
<div class="image-grid">
    {% for image in images %}
    <div class="image-item">
        <img src="{{ url_for('send_image', mode='classify', filename=image) }}" alt="{{ image }}" onclick="openModal('{{ image }}', 'classify')">
        <p>{{ image }}</p>
    </div>
    {% endfor %}
</div>

<!-- Classification Modal -->
<div id="classifyModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="modal-content">
        <div class="image-container">
            <img id="modalImage" src="" alt="Enlarged Image" data-filename="" data-mode="classify">
            <!-- Overlay Buttons -->
            <div class="overlay-buttons">
                <button class="label-button" id="btn-cat" data-label="cat">Cat</button>
                <button class="label-button" id="btn-morris" data-label="morris">Morris</button>
                <button class="label-button" id="btn-entering" data-label="entering">Entering</button>
                <button class="label-button" id="btn-prey" data-label="prey">Prey</button>
            </div>
        </div>
        <div class="modal-buttons">
            <button id="save-button">Save</button>
            <button id="back-button">Back</button>
        </div>
    </div>
</div>
{% endblock %}
